$panel-header-logo-width: 85%

=flex
  display: flex

=row
  +flex
  flex-direction: row

=column
  +flex
  flex-direction: column

.dashboard
  +row
  position: relative
  overflow: hidden

  .is-scrollable
    overflow-y: auto

  &-main
    flex: 1

  &-panel
    +column
    flex: 0 0 20%

    &-header
      margin-bottom: 1.5rem

      &-logo
        width: $panel-header-logo-width
        margin: 0.5rem auto 0.5rem auto

    &-content
      +desktop
        margin: 0 2rem
        padding-bottom: 2rem
      +touch
        margin: 0 1rem

.integration-index
  +flex
  +row
  flex-wrap: wrap
  justify-content: left
  padding-left: 1rem
  padding-top: 1rem

.ecosystem-navbar
  padding-top: 0.5rem
  padding-right: 4rem
  padding-left: 1rem
  min-width: 100%

.ecosystem-container
  display: block
  width: 100%

.integration-item
  +flex
  flex: 0 0 10%
  margin: 1rem
  min-width: 220px

.integration-item:hover
  cursor: pointer

.integration-item .image
  padding: 10px
  height: 150px

.integration-item .image img
  width: 100%
  height: 100%
  object-fit: contain

.integration-details
  margin: 1rem
  border-radius: 100px

.integration-details ul > li
  margin-left: 10px

.integration-details ul
  list-style: black

.integration-details-labels
  margin-top: 0
  margin-bottom: 1rem
  padding: 5px

.integration-label-wrapper
  padding-top: 4px
  padding-bottom: 4px
  display: inline-block

.integration-label
  border-radius: 1000px
  padding: 4px 10px
  color: black
  background-color: #aaaaaa

.integration-label-layer
  background-color: #7d9199

.integration-label-category
  background-color: #009900

.integration-label-software
  background-color: #9acd32

.integration-logo
  height: 200px
  border: 1px

//  Work around for bulma css weird jumbo sized default margin-bottom
.title:not(:last-child)
  margin-bottom: 0.2rem

.opa-keep-it-together
  white-space: nowrap

.dropdown-menu .dropdown-content
  max-height: 55vh
  overflow-y: auto

.highlight
  margin-bottom: 1.5rem // matches what live-blocks does

.dashboard-wrapper
  display: flex
  flex-flow: column
  height: 100%
  max-height: 100vh

.dashboard
  flex: 1 1 auto

  .navbar
    @media screen and (min-width: 1024px)
      position: sticky
      top: 0

.dashboard-panel-content
  margin: 0 0 0 2rem
  padding: 0 2rem 0 0

.banner-version-warning
  // override bulma defaults for messages
  margin-bottom: 0 !important
  border-radius: 0
  font-size: 1.2rem
  font-weight: bold
  border-top: 1rem solid transparent
  border-bottom: 1rem solid transparent
  .message-body
    border: none
    border-radius: 0
    button.delete
      float: right
      margin-top: 0.25rem

  // this is used to make the banner appear in the same position as the page
  // scrolls
  position: fixed
  width: 100%
  z-index: 100

  // different types of message should have different colors. The colors are
  // duplicated from the bulma since we're not using variables
  &.is-danger
    border-image: 50 repeating-linear-gradient(75deg, #cc0f35 0, #cc0f35 1rem, transparent 0, transparent 2rem)
  &.is-warning
    border-image: 50 repeating-linear-gradient(75deg, #946c00 0, #946c00 1rem, transparent 0, transparent 2rem)
  &.is-info
    border-image: 50 repeating-linear-gradient(75deg, #296fa8 0, #296fa8 1rem, transparent 0, transparent 2rem)

  // the hidden clone of the message is used to 'push down' the dashboard
  // when a message is being displayed by the correct amount
  &.hidden
    flex: 0 1 auto
    visibility: hidden
    position: relative
