$panel-header-logo-width: 40%

=flex
  display: flex

=row
  +flex
  flex-direction: row

=column
  +flex
  flex-direction: column

.dashboard
  +row
  position: relative
  overflow: hidden
  height: 100vh

  .is-scrollable
    overflow-y: auto

  &-main
    flex: 1

  &-panel
    +column
    padding-bottom: 4rem
    flex: 0 0 20%

    &-header
      margin-bottom: 1.5rem

      &-logo
        width: $panel-header-logo-width
        margin: 2rem auto 1rem auto

    &-content
      +desktop
        margin: 0 2rem
      +touch
        margin: 0 1rem