//////////////////////////////
// Remove once Libsass 3.2 is released
//////////////////////////////
%base--list {
  display: table;
  padding-left: 0;
  margin-left: 0;
  list-style: none;

  li,
  .base--li {
    // @extend %clearfix;
    // @extend %border-box;
    display: table-row;
    counter-increment: table-ol;

    &:before {
      display: table-cell;
      padding-right: .4em;
      text-align: right;
    }
  }
}

%base--ul {
  @include base--list('•');
}
