<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username repo=site.github_repo %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description }}</p>
      </div>
      
    </div>

  </div>

</footer>
