{% assign xmp_repl = false %}
{% assign xmp_auth = false %}

{% for page in site.pages %}
  {% case page.xmp_id %}
    {% when 'WORKING_WITH_THE_OPA_REPL' %}
      {% assign xmp_repl = page %}
    {% when 'DOCKER_AUTHORIZATION' %}
      {% assign xmp_auth = page %}
  {% endcase %}
{% endfor %}

<nav class="opa-header--abstract--nav">
  <ul class="opa-header--abstract--nav-list">
    <li class="opa-header--abstract--nav-item{% if page.xmp_id == xmp_repl.xmp_id %}--selected{% endif %}">
      {% if page.xmp_id != xmp_repl.xmp_id %}<a class="opa-header--abstract--nav-link" href="{{xmp_repl.url}}">{{ xmp_repl.title }}</a>{% else %}{{ xmp_repl.title }}{% endif %}
    </li>
    <li class="opa-header--abstract--nav-item{% if page.xmp_id == xmp_auth.xmp_id %}--selected{% endif %}">
      {% if page.xmp_id != xmp_auth.xmp_id %}<a class="opa-header--abstract--nav-link" href="{{xmp_auth.url}}">{{ xmp_auth.title }}</a>{% else %}{{ xmp_auth.title }}{% endif %}
    </li>
  </ul>
</nav>
