{% assign page_top = false %}
{% assign page_get = false %}
{% assign page_doc = false %}
{% assign page_tutorial = false %}
{% assign page_com = false %}

{% for page in site.pages %}
  {% case page.nav_id %}
    {% when 'MAIN_HOME' %}
      {% assign page_top = page %}
    {% when 'MAIN_GET_OPA' %}
      {% assign page_get = page %}
    {% when 'MAIN_DOCUMENTATION' %}
      {% if page.doc_id == 'WHAT_IS_POLICY_ENABLEMENT' %}
        {% assign page_doc = page %}
      {% endif %}
    {% when 'MAIN_TUTORIALS' %}
      {% if page.tutorial_id == 'WORKING_WITH_THE_OPA_REPL' %}
        {% assign page_tutorial = page %}
      {% endif %}
    {% when 'MAIN_COMMUNITY' %}
      {% assign page_com = page %}
  {% endcase %}
{% endfor %}

<nav>
  <ul class="opa-nav-main--list">
    <li class="opa-nav-main--home-item{% if page.nav_id == page_top.nav_id %}--selected{% endif %}">
      {% if page.nav_id != page_top.nav_id %}<a class="opa-nav-main--link" href="{{page_top.url}}">Open Policy Agent</a>{% else %}Open Policy Agent{% endif %}
    </li>
    <li class="opa-nav-main--item{% if page.nav_id == page_get.nav_id %}--selected{% endif %}">
      {% if page.nav_id != page_get.nav_id %}<a class="opa-nav-main--link" href="{{page_get.url}}">Get OPA</a>{% else %}Get OPA{% endif %}
    </li>
    <li class="opa-nav-main--item{% if page.nav_id == page_doc.nav_id %}--selected{% endif %}">
      {% if page.nav_id != page_doc.nav_id %}<a class="opa-nav-main--link" href="{{page_doc.url}}">Documentation</a>{% else %}Documentation{% endif %}
    </li>
    <li class="opa-nav-main--item{% if page.nav_id == page_tutorial.nav_id %}--selected{% endif %}">
      {% if page.nav_id != page_tutorial.nav_id %}<a class="opa-nav-main--link" href="{{page_tutorial.url}}">Tutorials</a>{% else %}Tutorials{% endif %}
    </li>
    <li class="opa-nav-main--item{% if page.nav_id == page_com.nav_id %}--selected{% endif %}">
      {% if page.nav_id != page_com.nav_id %}<a class="opa-nav-main--link" href="{{page_com.url}}">Community</a>{% else %}Community{% endif %}
    </li>
    <li class="opa-nav-main--item">
      <a class="opa-nav-main--link" href="https://blog.openpolicyagent.org">Blog</a>
    </li>
  </ul>
</nav>
