sudo: required
language: go
go_import_path: github.com/open-policy-agent/opa
go:
- "1.10"
env:
  global:
  - secure: RQIMmk6hPYwWUVIpplBJpoGtWqw80KU21DYkG3x57jBAHvoG58JiOc/0Tt6qmTJr7iSLPZLuivfxsJikTrFxMg6OYwlvpxzKB4Rr/unMFBP50+AP5rvUoZUtf1Swy+cVvovtgDn8Isik5gloNZ00dri73pKKn/a0d07YRz3PetdmwiXn3b/08HCAxoBrhchIECHCjg/b/XC+r9QA+WvSI0hfPnd3zL8/IMisgMFHvP/v8f9yH3NysyvJY6VMR/chrcXzm4RdUcLUNQ62wUliKQvBisa5Fuu5ReZ8y3KVhCXiANwocNlTrpEEe7QHa7dJlZHLqPv1RDKOfyZWY7mFsQDeapdGsXBR7r19uh1QTKEgLZqINVAFoxfZtH3jSG4UzYAZ1hrZVNkM2Ta0feRRH/q1kINxT2ovgn073immgC1v6yv9TYXLPmE7ADS14E/ab7ZRZnR+aiI6biZUP5+KTnaZBNKTf24a5SIAeP49UqPkIKCvterGFzVuPRF5z+8QBjYekkgNbVcM/rL20QdAUsWn8MRTEckaCSDUyJmj/kpUw76MruJwrSwshYfPkzPaPRqk99oUZucN47w3QJm65DkRNEB3oEKs3ZTH6OQXYedsv9P4wKmThngzWF9GHB0hc1twAc3tctDOfgcBxp+CDQnJ+xWH7n36tKfixp5QFVY=
  - secure: Oi8pwShwTKnBVQtb9WoCrZSUZbDWXwO4383S6F8/USUASE/r06Zxws0XombEsy7dlG1YBS/3aLLGe5/5umrYu8XlKa0C5f1k+1ABroxQIDaiOoHJLmCTlCW0mDcbAH+THiKriPnULBnCk9qGCVofWDObPqGIIgeE5tHGm8kdfgx0hmuX5XxbZEDStSTh0eag3MFC0AdLqm4LYMaqHs56om976DmxKiO9FvkDhTSUhXsOjcgXnKoneBbzbf+1RnAr2QvuRaHS8nSZEcFnHiWNjGD/ag6Cvd2T4Aa8r5LasdYr9sx93GDteaZiyJmT4zTce4ote2kzddcEdAfK93ERUPiNXBvf0jMrqaVzbx6yI9EdcNvHRA5LARSxkT7CrOA/BjYeP+HuCjW6BJVmstDR9kFL2GoQSZJtrlI2KvHM6H3WWAMYpOCekaYKlxNa6KFoi/4RZbptJj0X5999G3qccBocfs133YQVgSNLrlBQ0KhXw4yMaO7UU8p1m063ls8VWFupWynagWGCrzWGl5w7S0r1YRVUB9kXrUmkRwqtW0niZfM1fX6BKo5PPfql7n0knhjqwo73n3kBuWxfQzYjOACYN3DFPgj0/qaNWR+AvZpqBAE5PyfxccEfpcWUvp2yrfZGuUWV628qPZLA/vQ33iN0lIndK/bCtoz6oqQq9iw=
services:
- docker
deploy:


  # This deployment is mutually exclusive with the next deployment. This
  # deployment builds and publishes the docker image whenever changes are
  # committed to master. The latest tag is not updated.
  - provider: script
    skip_cleanup: true  # do not delete artifacts because linux executable is needed
    script: make deploy-travis
    on:
      repo: open-policy-agent/opa
      branch: master
      tags: false

  # This deployment is mutually exclusive with the previous deployment. This
  # deployment builds and publishes the docker image whenver a new tag is
  # created. The latest tag is updated to point to the image produced by this
  # deployment.
  - provider: script
    skip_cleanup: true  # do not delete artifacts because linux executable is needed
    script: make release-travis
    on:
      repo: open-policy-agent/opa
      branch: master
      tags: true
