.dn {
	display: none;
}

/* This is done to show more of a code example on mobile/tablet */
pre {
	tab-size: 4;
}

@media screen and (max-width: 996px) {
	pre {
		font-size: 0.8rem;
		tab-size: 2;
	}
}

/* These classes are only to be used where ThemedImage is not available */
[data-theme='dark'] .light-only {
	display: none;
}

[data-theme='light'] .dark-only {
	display: none;
}

.divider-after:after {
	content: "";
	/* This is necessary for the pseudo element to work. */
	display: block;
	/* This will put the pseudo element on its own line. */
	margin: 0 auto;
	/* This will center the border. */
	width: 90%;
	/* Change this to whatever width you want. */
	padding-top: 0.5em;
	/* This creates some space between the element and the border. */
	margin-bottom: 0.5em;
	border-bottom: 1px solid var(--ifm-menu-color);
	/* This creates the border. */
}
