%body--typography {
  font-family: get('sans serif font');
  font-weight: get('light weight font');
  line-height: 1.5;
}

%body--block {
  margin: 0;

  & * + * {
    margin-top: get('rhythm') / 2;
  }
}
