._app {
  $header-height: 4rem;
  &--header {
    margin-top: 0rem;
    position: fixed;
    top: 0rem;
    height: $header-height;
    width: 100%;
    background-color: #fff;
    display: block;
    z-index: 1000;
  }

  &--content {
    margin: $header-height 0;
    display: block;
  }

  &--index-content{
    margin-top: $header-height;
    display: block;
  }

  &--personal-des{
    margin: get('rhythm') * 2 0 get('rhythm')* 4;

    @include breakpoint(get('small')){
      margin: get('rhythm')*5.5 0 get('rhythm')*9;
    };
  }

  &--personal-des-title{
    font-family: 'Helvetica Neue';
    font-weight: get('bold weight font');
    margin-top: 0;
    font-size: ms(8);
    line-height: 1.3;
    color: color('gray', 90);

    @include breakpoint(get('small')){
      font-size: ms(12);
    }
  }

  &--personal-des-text{
    font-weight: get('normal weight font');
    margin-top: 0;
    font-size: ms(2);
    line-height: 1.3;
    color: color('gray', 40);
    max-width: 30rem;
  }

  &--container{
    @include breakpoint(get('small')){
      margin: 0 get('rhythm');
    };
  }

  &--selected-work{
    color: color('gray', 60);
    font-weight: 400;

  }
}
