.content {
  margin-top: 0rem;

  &--link{
    cursor: pointer;
    color: color('gray', 90);
    text-decoration: none;

    &:hover{
      background-color: color('gray', 10);
    }
  }

  &--session-title{
    margin: get('rhythm') * 2 0 0;
    font-weight: get('semi bold weight font');
    color: color('gray', 40);
  }

  &--hr{
    margin-top: 0;
  }

  &--footer{
    text-align: center;
  }

  &--container-no-margin{
    margin-top: 0;
  }

  &--container-two-one{
    cursor: pointer;
    position: relative;

    @include breakpoint(640px){
      @include divisions(2, 2rem);
    };
  }

  &--container-two-two{
    position: relative;
    cursor: pointer;
    margin-top: 0;
    @include breakpoint(640px){
      @include divisions(2, 2rem);
    };
  }

  &--container-one{
    background-color: #eaeaea;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin-top: 1.8rem;

  }

  &--container-two{
    margin-top: 2rem;

  }



  &--pattern-lib{
    width: 50%;
    border-right: 1px solid #eaeaea;
  }

  &--title-cover-container{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: #ffffff;
    transition: all 0.2s ease-in;
    margin-top: 0;
    opacity: 0;
  }

  &--title-container{
    position: relative;
    top: 40%;
    text-align: center;
    display: block;
  }

  &--title-name{
    font-weight: 600;
    font-family: 'Helvetica Neue';
    font-size: ms(1);
    color: color('gray', 90);
  }

  &--title-role{
    color: color('gray', 40);
  }

}
