._guide{
  $header-height: 4rem;

  &--new-layout-content{
    margin: $header-height 0;
    padding: get('rhythm') get('rhythm') / 2 0;

    @include breakpoint(768px){
			padding: get('rhythm') * 2 get('rhythm') 0;
		}

		@include breakpoint(1200px){
			width: 1200px;
			margin: $header-height auto 0;
		}
  }

  &--photo-layout-content{
    margin: $header-height 0;

		@include breakpoint(1200px){
			width: 1200px;
			margin: $header-height auto 0;
		}
  }

  &--header{
    margin-top: 0rem;
    top: 0rem;
    height: $header-height;
    width: 100%;
    background-color: #fff;
    display: block;
    z-index: 1000;
    position: relative;
    padding: 0 get('rhythm') / 2;

    @include breakpoint(768px){
			padding: 0 get('rhythm');
		}

		@include breakpoint(1200px){
			width: 1200px;
      margin: 0 auto;
		}
  }

  &--logo {
    width: 7rem;
    height: 100%;
    position: relative;
    left: 0rem;
    top: 0rem;
  }

  &--logo-image {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    margin: auto;
  }

  &--nav-work{
    position: absolute;
    color: color('gray', 60);
    right: get('rhythm') * 6.5;
    top: 1.3rem;
    font-weight: 400;

    background-color: transparent;
    padding: 0 0.3rem;

    &:hover{
      background-color: #fcd602;
      color: color('gray', 60);
    }

    @include breakpoint(768px){
      right: 16.3rem;
    };
  }

  &--nav-photography{
    position: absolute;
    color: color('gray', 60);
    right: get('rhythm') * 2.5;
    top: 1.3rem;
    font-weight: 400;

    background-color: transparent;
    padding: 0 0.3rem;

    &:hover{
      background-color: #fcd602;
      color: color('gray', 60);
    }

    @include breakpoint(768px){
      right: get('rhythm') * 3.5;
    };
  }

  &--nav-about{
    position: absolute;
    font-weight: 400;
    color: color('gray', 60);
    right: get('rhythm') / 2;
    top: 1.3rem;

    background-color: transparent;
    padding: 0 0.3rem;

    &:hover{
      background-color: #fcd602;
      color: color('gray', 60);
    }

    @include breakpoint(768px){
      right: get('rhythm');
    };

  }


  &--page-title{
    font-size: ms(2);
    font-weight: 400;
    font-family: 'Helvetica Neue';

    @include breakpoint(750px){
      font-size: ms(3);
    };

    &_TEAL{
      color: color('teal', 40);
    }

    &_BLUE{
      color: color('blue', 50);
    }

    &_GREEN{
      color: color('green', 40);
    }

    &_ORANGE{
      color: color('orange', 50);
    }

    &_PURPLE{
      color: color('purple', 50);
    }

    &_RED{
      color: color('red', 60);
    }

    &_YELLOW{
      color: color('yellow', 40);
    }

  }

  &--cover-img{
    width: 100%;
  }

  &--content-container{
    padding-left: get('rhythm');
    margin-top: get('rhythm');

    &_TEAL{
      border-left: 0.3rem solid color('teal', 40);
    }

    &_ORANGE{
      border-left: 0.3rem solid color('orange', 20);
    }
  }

  &--content-title{
    color: color('gray', 40);
    font-size: ms(0);
    font-weight: 400;
  }

  &--content-link{
    font-size: ms(1);
    font-weight: 400;
    margin-top: get('rhythm') / 3;
    font-family: 'Helvetica Neue';

    &_TEAL{
      color: color('teal', 40);
    }

    &_BLUE{
      color: color('blue', 50);
    }

    &_GREEN{
      color: color('green', 40);
    }

    &_ORANGE{
      color: color('orange', 50);
    }

    &_PURPLE{
      color: color('purple', 50);
    }

    &_RED{
      color: color('red', 60);
    }

    &_YELLOW{
      color: color('yellow', 40);
    }
  }

  &--content-link-a{
    text-decoration: none;
  }

  &--content-session-container{
    margin-top: get('rhythm') * 4;
    font-size: ms(2);
    font-weight: 400;
  }

  &--content-session-title{
    margin-bottom: get('rhythm');
    font-family: 'Helvetica Neue';

    &_TEAL{
      color: color('teal', 40);
    }

    &_ORANGE{
      color: color('orange', 50);
    }
  }

  &--text{
    font-size: ms(-3);
    color: color('gray', 80);
  }

  &--list-item{
    font-size: ms(-3);
    color: color('gray', 80);
    margin-top: get('rhythm') / 4;
  }

  &--hr{
    margin-bottom: get('rhythm') * 5 / 2;
  }

  &--text-title{
    font-weight: 600;
    font-size: ms(-3);
    color: color('gray', 80);

  }

  &--explain-title{
    font-weight: 600;
    font-size: ms(-3);

    &_GREED{
      color: color('teal', 40);
    }

    &_RED{
      color: color('red', 40);
    }
  }

  &--explain-txt{
    font-size: ms(-3);
    margin-top: get('rhythm') / 4;
    color: color('gray', 40);
  }

  &--explain-txt-dark{
    font-size: ms(-1);
    margin-top: get('rhythm') / 4;
    color: color('gray', 60);
  }

  &--do-container{
    padding-top: get('rhythm') / 4;

    &_GREEN{
      border-top: 0.5rem solid color('teal', 40);
    }

    &_RED{
      border-top: 0.5rem solid color('red', 40);
    }
  }

  &--grid-one{
    min-height: 1px;

    @include breakpoint(1100px){
      @include divisions(3);
    }
  }

  &--grid-two{
    @include breakpoint(700px){
      @include divisions(2);
      padding-right: get('rhythm') / 2;
    };

    @include breakpoint(1100px){
      padding-left: get('rhythm') / 2;
      padding-right: 0;
      @include divisions(3);
    }
  }

  &--grid-two-of-two{
    @include breakpoint(700px){
      @include divisions(1);
    };

    @include breakpoint(1100px){
      @include divisions(3/2);
      padding-left: get('rhythm') / 2;
    }
  }

  &--grid-three{
    @include breakpoint(700px){
      @include divisions(2);
      padding-left: get('rhythm') / 2;
    };

    @include breakpoint(1100px){
      @include divisions(3);
    }
  }

  &--sub-session-container{
    margin-top: get('rhythm') * 2;
  }

  &--content-case-study-container{
    max-width: 40rem;
    margin: get('rhythm')*2 auto 0;
  }

  &--content-case-study-sub-container{
    max-width: 40rem;
    margin: get('rhythm') auto ;
  }

  &--content-case-study-sub-container2{
    max-width: 40rem;
    margin: get('rhythm') / 2 auto;
  }

  &--content-case-study-sub-title{
    font-weight: 600;
    font-size: ms(-1);
    color: color('gray', 90);
  }

  &--content-case-study-sub-container3{
    max-width: 40rem;
    margin: get('rhythm') auto 0;
  }

  &--case-study-title{
    font-weight: 500;
    margin-bottom: get('rhythm');
  }

  &--case-study-text{
    font-weight: 400;
    color: color('gray', 60);
  }

  &--two-of-one-container{
    @include breakpoint(700px){
      @include divisions(2);
      padding-right: get('rhythm') / 2;
    };
  }

  &--two-of-two-container{
    margin-top: 0;

    @include breakpoint(700px){
      @include divisions(2);
      padding-left: get('rhythm') / 2;
    };
  }

  &--blockquote{
    border-left: .25em solid color('gray', 10);
  }

  &--case-study-sub-text{
    font-size: ms(-1);
    margin-left: get('rhythm') * 3 / 5;
    color: color('gray', 30);
  }

  &--grid-even-one{
    @include breakpoint(750px){
      @include divisions(3 / 2);
      padding-right: get('rhythm') * 2;
    };
  }

  &--grid-even-two{
    @include breakpoint(750px){
      @include divisions(3);
    };
  }

  &--btn{
    $color: color('purple', 50);
    $background: transparent;
    $border: color('purple', 50);
    $block: false;

    padding: 0.25em 2em;
    color: $color;
    font-weight: 500;
    background-color: $background;
    border: 2px solid $border;
    border-radius: 10rem;
    transition: 0.2s;
    text-decoration: none;

    @if $block {
      display: block;
    } @else {
      display: inline-block;
    }

    &:hover,
    &:focus {
      background-color: lighten($background, 15%);
      border-color: lighten($border, 15%);
      color: lighten($color, 15%);
    }

    &:active {
      transition: 0s;
      transform: translateY(2px);
    }

    cursor: pointer;
  }

  &--btn-container{
    text-align: center;
  }

  &--gray-container{
    background-color: #ECECEC;
    padding: get('rhythm') / 2;
  }

  &--blue-container{
    background-color: #E5F2FA;
    padding: get('rhythm') / 2;
  }

  &--red-container{
    background-color: #fdf1f6;
    padding: get('rhythm') / 2;
  }

  &--yellow-container{
    background-color: #f4f4f4;
    padding: get('rhythm') / 2;
  }

  &--list{
    margin-top: get('rhythm') / 8;
  }

}

.inactive{
  color: color('gray', 30);

  background-color: transparent;
  padding: 0 0.3rem;

  &:hover{
    background-color: #fcd602;
    color: color('gray', 60);
  }
}
