%base--table {
  width: 100%;
}

%base--thead {
  font-weight: bold;
  color: get('white');
  background-color: get('primary color');
}

%base--td {
  padding: 1em;
}

%base--tr {
  &:nth-of-type(even) {
    background-color: color('gray', 10);
  }
}
