*,
*:after,
*:before {
  box-sizing: border-box;
	border: 0;
	font: inherit;
	font-size: 100%;
  margin: 0;
	padding: 0;
	vertical-align: baseline;
}

*:after,
*:before {
  content: none;
}

address,
article,
aside,
audio,
body,
blockquote,
canvas,
dd,
details,
dialog,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
legend,
li,
main,
menu,
nav,
noscript,
ol,
p,
pre,
section,
summary,
ul,
video {
  display: block;
}

button,
input,
keygen,
meter,
progress,
select,
textarea, {
  display: inline-block;
}

html {
  text-size-adjust: 100%;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
