.toggle {
  width: 2rem;
  height: 2rem;
}

.item {
  composes: navbar__item from global;
  display: flex;
  align-items: center;
}

.toggleButton {
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background var(--ifm-transition-fast);
}

.toggleButton:hover {
  background: var(--ifm-color-emphasis-200);
}

[data-theme='light'] .darkToggleIcon,
[data-theme='dark'] .lightToggleIcon {
  display: none;
}

.toggleButtonDisabled {
  cursor: not-allowed;
}
