.header {

  &--logo-image {
    width: 3rem;
    display: inline-block;
    position: relative;
    top: -4px;

    @include breakpoint(900px){
      width: 4rem;
      top: -7px;
    };
  }

  &--logo-txt{
    display: inline-block;
    color: #000;

    @include breakpoint(900px){
      font-size: ms(1);
    };

  }

  &--logo-link{
     text-decoration: none;
  }

  &--menu-image{
    width: 2rem;
    position: relative;
    top: 10px;
  }

  &--menu-image-github{
    width: 1.8rem;
  }

  &--link{
    text-decoration: none;
    margin-top: 0;
    color: #777677;
    display: inline-block;
  }

  &--link_SMALL{
    margin-left: 0.5rem;
  }

  &--link_LONG{
    margin-left: 1rem;
  }

  &--logo-image{
    vertical-align: middle;
  }

  &--logo-txt{
    margin-left: 0.5rem;
  }

  &--hamburger-menu-item{
    list-style-type: none;
  }

  &--hamburger-menu-link{
    text-decoration: none;
    color: #776777;
    text-align: center;
    padding: 1rem;
  }


}
