.key-features-section{
  &--section-title{
    font-size: ms(1);
    color: #fff;

    @include breakpoint(1200px){
      font-size: ms(4);
    };
  }

  &--key-features{
    color: #fff;

    @include breakpoint(850px){
      margin-top: 1rem;
    };
  }

  &--key-feature-container{
    margin-top: get('rhythm') * 2.5;

    @include breakpoint(600px){
      @include divisions(2, 1rem);
    };

    @include breakpoint(900px){
      @include divisions(2, 2rem);
    };

    @include breakpoint(1100px){
      @include divisions(2, 3rem);
    };
  }

  &--key-feature-title{
    font-size: ms(1);

    @include breakpoint(1200px){
      font-size: ms(2);
    };
  }

  &--key-feature-para{
    font-size: ms(-1);

    @include breakpoint(1200px){
      font-size: ms(0);
    };
  }

  &--sea-plants-container{
    position: absolute;
    bottom: 0%;
    width: 100%;
    overflow: hidden;
    height: 95px;
  }

  &--sea-plants{
    position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width: 2100px;
    min-width: 2100px;
    height: 140px;
  }

  &--dark-blue-long-wave-container{
    position: absolute;
    bottom: 100%;
    width: 100%;
    overflow: hidden;
    height: 150px;
    margin-top: 0;
    z-index: 100;

    @include breakpoint(1990px){
      display: none;
    };
  }

  &--dark-blue-long-wave{
    position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width: 2000px;
    min-width: 2000px;
    height: 156px;
  }

  &--row-container:first-child{
    margin-top: 0;

    @include breakpoint(850px){
      margin-top: 1rem;
    };

  }



}
