.messages{
  &--main{
    font-size: ms(5);

    @include breakpoint(700px){
      font-size: ms(6);
    };

    @include breakpoint(900px){
      font-size: ms(7);
    };

    @include breakpoint(1100px){
      font-size: ms(8);
    };

    @include breakpoint(1200px){
      font-size: ms(10);
    };
  }

  &--side{
    color: #777677;

    @include breakpoint(700px){
      margin-top: 0;

    };

    @include breakpoint(1200px){
      font-size: ms(1);
    };
  }

  &--btns{
  }

  &--btn{
    padding: 0.8rem 2rem;
    font-size: ms(-1);

    @include breakpoint(700px){
      padding: 0.8rem 4rem;
    };

    @include breakpoint(1200px){
      font-size: ms(0);
    };
  }

  &--btn-link{
    text-decoration: none !important;
  }

  &--get-started-btn{
    background-color: #FF9512;
    color: #fff;
    font-weight: 400;
    border-color: #FF9512;
  }

  &--learn-more-btn{
    background-color: #fff;
    color: #FF9512;
    font-weight: 400;
    border-color: #FF9512;
    margin-left: get('rhythm') / 2;
  }
}
