---
cases:
  - note: keywordrefs/%{KW} keyword in package
    query: data.foo.p = x
    modules:
      - |
        package foo.%{KW}.bar

        baz := 42
      - |
        package foo
        import data.foo.%{KW}.bar
        
        p if {
          bar.baz == 42
          data.foo.%{KW}.bar.baz == 42
        }
    want_result:
      - x: true
  - note: keywordrefs/%{KW} keyword in package, import alias
    query: data.foo.p = x
    modules:
      - |
        package foo.%{KW}

        bar := 42
      - |
        package foo
        import data.foo.%{KW} as my_if
        
        p if {
          my_if.bar == 42
          data.foo.%{KW}.bar == 42
        }
    want_result:
      - x: true
  - note: keywordrefs/%{KW} keyword rule refhead
    query: data.test.p = x
    modules:
      - |
        package test
        
        p if {
          %{KW}.foo == 1
          foo.%{KW} == 2
        }
        
        %{KW}.foo := 1
        
        foo.%{KW} := 2
    want_result:
      - x: true
  - note: keywordrefs/%{KW} keyword rule refhead, else bodies
    query: data.test.p = x
    input:
      x: 3
    modules:
      - |
        package test

        p if {
          %{KW}.foo == 3
          foo.%{KW} == 6
        }

        %{KW}.foo := 1 if {
          input.x == 1
        } else := 2 if {
          input.x == 2
        } else := 3

        foo.%{KW} := 4 if {
          input.x == 1
        } else := 5 if {
          input.x == 2
        } else := 6
    want_result:
      - x: true
  - note: keywordrefs/%{KW} keyword rule refhead, partial set
    query: data.test.p = x
    modules:
      - |
        package test

        p if {
          %{KW}.foo == {"a", "c"}
          foo.%{KW} == {"a", "c"}
        }

        %{KW}.foo contains "a"

        %{KW}.foo contains "b" if {
          false
        }

        %{KW}.foo contains "c" if {
          true
        }

        foo.%{KW} contains "a"

        foo.%{KW} contains "b" if {
          false
        }

        foo.%{KW} contains "c" if {
          true
        }
    want_result:
      - x: true
