.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin-left: 15%;
    margin-right: 15%;
    /* justify-items: center;  do NOT use for centering cards when squeezing; changes card sizes!  */
    position: relative;
    z-index: 900;
}

.card {
    border-radius: 20px;
    box-shadow: 2px 3px 6px rgba(51, 51, 51, 0.25);
    max-width: 500px;
    flex: 1 0 80px;
}

.card-text a {
    text-decoration: none;
}

.card-img {
    height: 4rem;
    width: auto;
}

.support-bg {
    width: 100%;
    min-height: 100%;
    background-color: #5687e5;
    background-image: url("../img/cloudAll.png"), url("../img/homebg.png");
    background-attachment: fixed, scroll;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}

.support-content {
    height: 100%;
}

#homebackground .banner-content,
#homebackground .banner-subcontent {
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
    line-height: 1.3;
}

#homebackground .banner-subcontent {
    color: black;
}

#homebackground .logistics {
    font-size: 20px;
    font-weight: 200px;
    line-height: 24px;
    padding: 0px 15px 30px 15px;
}

#homebackground .logistics:last-child {
    padding: 0px 15px 90px 15px;
}

#homebackground .logistics .btn-primary {
    padding: 10px;
}

.support-card-content {
    height: 100%;
    overflow: hidden;
}

.card-text {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-text .header {
    font-size: 24px;
    font-weight: 700;
}

.card-text .subheader {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.3;
    font-size: 20px;
}

.card-text .subheader img {
    width: 20px;
    height: 20px;
}

.support-list {
    margin-top: -40px;
    z-index: 99;
    position: relative;
    font-size: 18px;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem; */
    display: flex;
    flex-flow: row wrap;
    padding: 0.5em;
}

.support-footer {
    z-index: 99;
    position: relative;
}

/* overrides for home.css */

#homebackground {
    width: 100%;
    height: 100%;
    margin-top: -65px;
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    background-color: #5687e5;
}

.bg img {
    width: 100%;
    object-fit: cover;
    margin-top: unset;
}

.cloud-top {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.cloud-top img {
    width: 100%;
    position: absolute;
    top: 140px;
    object-fit: cover;
}

/* import adapted from https://codepen.io/benknight/pen/zxxeay for "light saber" lines  */

.divider {
    display: flex;
    gap: 1em;
    z-index: 99;
}

.line {
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1.5em;
    color: white;
    font-weight: 700;
    font-size: 28px;
}

.line:before,
.line:after {
    height: 1px;
}

.glow:before,
.glow:after {
    height: 8px;
    filter: blur(1px);
    border-radius: 5px;
}

.glow:before {
    background: linear-gradient(to right, rgba(67, 58, 238, 0.721), #343a40d4);
}

.glow:after {
    background: linear-gradient(to left, rgba(67, 58, 238, 0.721), #343a40d4);
}

/* END import */

@media screen and (min-width: 576px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .divider:before,
    .divider:after {
        content: "";
        flex: 1;
    }
}

@media screen and (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

@media screen and (max-width: 767px) {
    .bg img {
        display: unset;
    }

    .cloud-top img {
        display: none;
    }
}