.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin-top: 1rem;
    /* justify-items: center;  do NOT use for centering cards when squeezing; changes card sizes!  */
    position: relative;
}

.card {
    border-radius: 20px;
    box-shadow: 2px 3px 6px rgba(51, 51, 51, 0.25);
    max-width: 500px;
    flex: 1 0 80px;
}

.card-text a {
    text-decoration: none;
}

.card-img {
    height: 4rem;
    width: auto;
}

.support-bg {
    width: 100%;
    min-height: 100%;
    background-color: #36d0dc;
    background-image: url("../img/cloudAll.png");
    background-attachment: fixed;
    background-position: center 10rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.support-content {
    height: 100%;
}

.banner-content {
    padding: 0 1rem;
}
.banner-subcontent {
    padding: 0 1rem;
}
.page-content {
    padding: 0 1rem;
}

#homebackground .banner-content,
#homebackground .banner-subcontent {
    text-align: left;
    line-height: 1.3;
}

.support-card-content {
    height: 100%;
    overflow: hidden;
}

.card-text {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-text .header {
    font-size: 24px;
    font-weight: 700;
}

.card-text .subheader {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.3;
    font-size: 20px;
}

@media screen and (max-width: 767px) {
    .bg img {
        display: unset;
    }

    .cloud-top img {
        display: none;
    }

    .banner-content {
        padding: 0 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    .banner-subcontent {
        padding: 0 1rem;
        font-weight: 300;
    }
}


/*sup*/
section {
    padding-bottom: 5%;
}

.grid-container {
    grid-template-columns: 1fr;
}
.card {
    max-width: 100%;
}


/*sec*/
.page-content ol, .page-content ul {
    padding-left: 1rem;
}

.page-content ol {
    list-style: decimal;
}

.page-content ul {
    list-style: disc;
}

li {
    padding-bottom: 0.5em;
}

section {
    padding-bottom: 5%;
}

.grid-container {
    grid-template-columns: 1fr;
}
.card {
    max-width: 100%;
}

