.page-content ol, .page-content ul {
    padding-left: 1rem;
}

.page-content ol {
    list-style: decimal;
}

.page-content ul {
    list-style: disc;
}

li {
    padding-bottom: 0.5em;
}

section {
    padding-bottom: 5%;
}

.grid-container {
    grid-template-columns: 1fr;
}
.card {
    max-width: 100%;
}
