html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


html,
body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: unset;
}

#navigation {
    background-color: #36d0dc;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto 1rem;
}

#navigation .navbar {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
}

#navigation .navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

#navigation .social-nav-item img {
    display: block;
    margin: 0 0.3rem;
}

#navigation .nav-link.social-icon-link {
    padding: 0;
}

#navigation .navbar-brand {
    background-image: url("/img/logo-white.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 13rem;
    height: 5rem;
    margin-top: 0.3rem;
}

.background {
    width: 100%;
    margin: 0 auto;
    max-width: 70rem;
    padding-bottom: 2rem;
}

.background h2 {
    margin-top: 1rem;
    color: white;
    font-weight: 700;
    font-size: 28px;
}

.home h2 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 15px;
    line-height: normal;
    color: #000;
}

.home #header {
    background-color: #36d0dc;
    padding-top: 3rem;
    width: 100%;
    max-width: 100%;
}

.site-title {
    margin: 0 auto;
    max-width: 90%;
}

.site-title, .site-subtitle {
    text-align: center;
}

.home #header .banner {
    background-color: white;
}

.home #header .banner img {
    margin: -5rem auto 0;
}

.home section .container {
    /* this is to override the bootstrap styles*/
    max-width: 70rem !important;
}

.homepageconterimage img {
    width: 75%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 70%;
}

#about {
    width: 100%;
    min-height: 50px;
    background: #fff;
    padding: 70px 0;
    margin-top: 0%;
    position: relative;
}

.banner-content {
    position: relative;
    color: #fff;
    font-size: 39px !important;
    font-weight: 700;
    padding: 0 1rem;
}

.banner-subcontent {
    position: relative;
    color: #fff;
    font-size: 23px;
    font-weight: 300;
    padding: 0 1rem;
}

.banner-subcontent p, .banner-subcontent a {
    color: #fff;
    font-size: 23px;
}
.banner-subcontent a {
    text-decoration: underline;
    font-weight: bold;
}

.about-text {
    width: 90%;
    margin: auto;
}

p {
    font-size: 17px;
    line-height: 28px;
    color: #000;
}

a {
    text-decoration: none;
}

.dark p {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}

.blue a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.more-link {
    margin-top: 5px;
    width: 175px;
    padding: .5% 1.5% !important;
    font-size: 18px;
}

.more-link:hover {
    /* #287880 #3499a2 */
    background: linear-gradient(#28767d, #285c82);
    border-color: #285c82;
}

.tohide {
    display: none;
}

.toshow {
    display: block;
}

.btn-primary {
    border-radius: 30px;
    padding: 10px 50px;
    background: linear-gradient(#46ccd9, #49a1e2);
    border: none;
    box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.23);
}

.btn-primary:hover {
    background: linear-gradient(#46ccd9, #49a1e2);
}

.btn-playground {
    padding: 5px 20px;
}

.btn-playground a {
    font-size: 18px;
}

.launch-playground-icon {
    height: 20px;
    vertical-align: sub;
}

.styra-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 40rem;
}

.styra-logo {
    width: 15rem;
    margin-top: 0.5rem;
    display: block;
}

.creator-note {
    font-size: 0.9em;
    color: #666666;
}

#declarative-policy {
    width: 100%;
    min-height: 100px;
    background: #f8f8f8;
    margin-top: -9px;
    padding-bottom: 50px;
}

.declarativeBOx {
    width: 100%;
    height: 150px;
    background: #fff;
    border: 1px solid #eaeaea;
    position: relative;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    cursor: pointer;
    margin-bottom: 25px;
}

.declarativeBOx a {
    padding: 24px 30px 24px 30px;
    text-decoration: none;
    float: left;
    width: 100%;
    height: 100%;
}

.envoy a {
    padding: 24px 30px 24px 50px;
}

.envoy img {
    width: 70px;
}

.declarativeInnerBOx {
    position: relative;
    margin-top: 20px;
}

.declarativeEnvoy {
    line-height: 48px !important;
}

.downArrow {
    text-align: center;
    margin-top: 10px;
}

.downArrow img {
    width: 25px;
    height: 25px;
    opacity: 0;
}

.declarative-policy-contentBox {
    width: 100%;
    min-height: 200px;
    background: #fff;
    border-top: 8px solid #46aede;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    z-index: 9;
}

.declarative-policy-contentBox-header {
    width: 18%;
    margin: 5% auto;
}

.declarative-left {
    width: 100%;
    min-height: 50px;
    padding: 30px;
    position: relative;
}

.declarative-right {
    height: 100%;
}

.subparagraph {
    padding-top: 15px;
}

.text-left {
    text-align: left
}

.declarativeText {
    font-size: 22px;
    font-weight: 600;
    line-height: 60px;
}

.declarativeImage {
    float: left;
    width: 60px;
    margin-right: 10px;
}

.gray-top-image img {
    margin-top: -30px;
    width: 100%;
}

#gray {
    margin: 70px 0;
    position: relative;
    z-index: 99;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 15px;
    line-height: normal;
    color: #000;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 15px;
    line-height: normal;
    color: #000;
}

.dark h3 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
    line-height: normal;
    color: #fff;
}

.subText {
    font-size: 21px;
    font-weight: 300;
    padding-bottom: 15px;
    line-height: normal;
    color: #404040;
}

#declarative-policy-tabs {
    width: 100%;
    min-height: 100px;
    position: relative;
    background: #fff;
    padding-bottom: 70px;
}

.declarative-policy-tabs-graphic {
    background-image: url(../img/declarative-graphic-1.png);
    position: absolute;
    left: -170px;
    top: 0%;
    width: 360px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99;
}

.declarative-policy-tabs-graphic-2 {
    background-image: url(../img/declarative-graphic-2.png);
    position: absolute;
    right: 0;
    top: 50%;
    width: 630px;
    height: 660px;
    background-repeat: no-repeat;
    background-size: cover;

}

.tab-innerContainer p {
    font-size: 16px;
}

.declarative-table {
    width: 100%;
    min-height: 100px;
    position: relative;
    z-index: 9;

}

.btn-primary span {
    font-weight: 600;
}

.nav-tabs {
    border-bottom: none !important;
    margin-left: 45px;
}

.tab-content>.tab-pane {
    width: 100%;
}


.tab-content {
    box-shadow: 1px 1px 8px rgba(51, 51, 51, 0.25);
    position: relative;
    border-radius: 20px;
    padding: 25px;
    margin-top: -5px;
    background: #f7f7f7;
}

.tab-content p {
    color: #333;
}

.nav-pills .nav-link {
    color: #333;
    padding: 20px;
    line-height: 22px;
    border-bottom: 1px solid #eee;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #e5e6eb;
    color: #333;
    padding: 20px;
    line-height: 22px;
}

.nav-pills .nav-link:hover {
    background-color: #dedfe0;
    color: #333;
    padding: 20px;
    line-height: 22px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fff !important;
    font-size: 18px !important;
    background: linear-gradient(#47ced8, #49a1e1) !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none !important;
    padding: 15px 20px;
    line-height: 40px;
    display: inline-flex;
}

.colorGray {
    color: #404040
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
    position: relative;
    margin: 0 10px;
}

.nav-tabs .nav-item img {
    width: auto;
    height: 40px;
    margin-right: 6px;
}

.nav-tabs .nav-link {
    color: #000;
    font-size: 18px;
    background: linear-gradient(#f7f7f7, #f7f7f7);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none !important;
    padding: 15px 20px;
    display: inline-flex;
    line-height: 40px;
    box-shadow: 1px 1px 8px rgba(51, 51, 51, 0.25);

}

.nav-tabs .nav-width {
    width: 170px !important;
    max-width: 170px;
}

#curveImage {
    width: 100%;
    min-height: 50px;
    background: #fff;
    padding: 70px 0;
}


#curveImage img {
    width: 100%;
    background-repeat: no-repeat;
}

#architectural-flexibility {
    width: 100%;
    min-height: 100px;
    background: #fff;
    position: relative;
}

.architectural-flexibility-graphic-left {
    background-image: url(../img/arc-left.png);
    position: absolute;
    left: -110px;
    top: 35%;
    width: 270px;
    height: 210px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99;
}

.architectural-flexibility-graphic-right {
    background-image: url(../img/arc-right.png);
    position: absolute;
    right: 0;
    top: 18%;
    width: 220px;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99;
}


.directBox {
    width: 100%;
    min-height: 100px;
    background: #fff;
    position: relative;
}

.service-circle {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: linear-gradient(#0094c8, #005fb1);
    margin: auto;
    position: relative;
    z-index: 9;
}

.service-mediumcircle {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    background: linear-gradient(#0094c8, #005fb1);
    margin: auto;
    position: relative;
    z-index: 9;
}

.service-smallCircle {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: #fff;
    margin: auto;
    position: relative;
    z-index: 9;
    margin-top: 5px;
}

.service-smallCircle img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.service-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.service-graphics {
    position: relative;
}

.service-graphic {
    position: relative;
}

.service-graphic img {
    width: 36.2%;
    margin-top: -23%;
}

.service-graphics img {
    width: 36%;
}

.blackColor {
    color: #000;
}

.space-left {
    margin-left: 18px;

}

.space-right {
    margin-left: -30px;
}

.service-graphics-text {
    margin-top: 15px;
}

.policy-text p {
    width: 85%;
    margin: auto;
}

#policy-authoring {
    width: 100%;
    min-height: 100px;
    background: #fff;
    padding: 70px 0;
}

h4 {
    font-size: 23px;
    color: #000;
    font-weight: 600;
}

.center-align-content {
    justify-content: center;
}


#footer {
    width: 100%;
    min-height: 100px;
    background: #47b3de;
    padding: 100px 0;
}

.footer-text {
    font-size: 22px;
    color: #fff;
    padding-bottom: 20px;
}

.footer-logo img {
    width: 60%;
}

.social-icon-link {
    padding: 0;
}

.social-icon-link img {
    height: 2rem;
    width: auto;
    padding: 0;
}

.social-icon-title {
    display: none;
}

.footer-bottom {
    font-size: 14px;
    color: #fff;
}

.policy-sharing {
    position: relative;
}

.live--block-container .CodeMirror {
    height: auto;
    width: 100%;
    background: #fff;
    box-shadow: 2px 3px 6px rgba(51, 51, 51, 0.25);
    position: relative;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    cursor: pointer;
}

.live--block-container .CodeMirror-lines {
    cursor: pointer;
}

.CodeMirror-cursor,
div.CodeMirror-cursor {
    opacity: 1;
    display: none;
}

.live--icon-bar--outer {
    display: none;
    /* TODO: Fix this at some point? */
}

.code-tab-content {
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin-top: 1rem;
    /* justify-items: center;  do NOT use for centering cards when squeezing; changes card sizes!  */
    position: relative;
}

.card {
    border-radius: 20px;
    box-shadow: 2px 3px 6px rgba(51, 51, 51, 0.25);
    max-width: 500px;
    flex: 1 0 80px;
}

.card-text a {
    text-decoration: none;
}

.card-img {
    height: 4rem;
    width: auto;
}

.support-bg {
    width: 100%;
    min-height: 100%;
    background-color: #36d0dc;
    background-image: url("../img/cloudAll.png");
    background-attachment: fixed;
    background-position: center 10rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.support-content {
    height: 100%;
}

.background .banner-content,
.background .banner-subcontent {
    text-align: left;
    line-height: 1.3;
}

.support-card-content {
    height: 100%;
    overflow: hidden;
}

.card-text {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-text .header {
    font-size: 24px;
    font-weight: 700;
}

.card-text .subheader {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.3;
    font-size: 20px;
}

.page-content {
    padding: 0 1rem;
}
.page-content ol,
.page-content ul {
    padding-left: 1rem;
}

.page-content ol {
    list-style: decimal;
}

.page-content ul {
    list-style: disc;
}

li {
    padding-bottom: 0.5em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 1rem;
    margin-top: 1rem;
    position: relative;
}

.card {
    border-radius: 20px;
    box-shadow: 2px 3px 6px rgba(51, 51, 51, 0.25);
    max-width: 500px;
    flex: 1 0 80px;
}

.support-content .grid-container {
    grid-template-columns: 1fr;
}

.support-content .card {
    max-width: 100%;
}

.col-lg-2 {
    max-width: 20% !important;
    width: 20% !important;
    flex: 0 0 20% !important;
}

.mobileView {
    display: none;
}

.tab-pane .nav-tabs {
    margin-left: 40px;
}


/* Mobile/Tablet Breakpoint */
@media screen and (max-width: 992px) {
    .mobileView {
        display: block;
    }

    .desktopView {
        display: none;
    }

    .home #header .banner img {
        width: 100%;
        margin: 0 auto;
    }

    .banner-content {
        padding: 0 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .banner-subcontent {
        padding: 0 1rem;
        font-weight: 300;
    }

    .declarativeBOx {
        height: 100px;
    }

    .declarativeBOx a {
        padding: 10px 10px 10px 20px;
    }

    .envoy img {
        width: 30px;
    }

    .declarativeInnerBOx {
        margin: 30px auto;
        width: 85%;
    }

    .declarativeImage {
        width: 20px;
    }

    .declarativeText {
        font-size: 11px;
        line-height: 20px;
    }

    .envoy img {
        width: 30px;
    }

    .declarative-policy-contentBox-header {
        width: 31%;
    }

    .declarativeEnvoy {
        line-height: 18px !important;
    }

    .declarative-policy-contentBox-header {
        width: 30%;
    }

    .declarativeEnvoy {
        line-height: 18px !important;
    }

    .declarative-right {
        margin-left: 15px;
        margin-right: 15px;
    }

    .declarative-policy-contentBox-header {
        width: 30%;
    }

    .declarativeInnerBOx {
        margin-left: 30px;
    }

    .nav-tabs .nav-link {
        border-radius: 20px;
        margin-bottom: 10px;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        border-radius: 20px !important;
    }

    #navb {
        padding-top: 15px;
        position: absolute;
        top: 85px;
        width: 100%;
        left: 0;
        background: white;
        z-index: 999;
    }

    #navigation .nav-link.social-icon-link {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .nav-tabs .nav-item {
        margin: 8px 10px !important;
    }

    .banner-content {
        font-size: 23px !important;
        padding-bottom: 10px;
    }

    .banner-subcontent {
        font-size: 18px !important;
    }

    .navbar-dark .navbar-nav .nav-item {
        padding: 10px 15px;
    }


    .blue a {
        font-size: 18px;
    }

    .downArrow img {
        display: none !important;
    }

    .declarative-left {
        padding-top: 0;
    }

    .declarative-right {
        margin-right: 0;
        margin-bottom: 0;
    }

    .declarative-policy-contentBox {
        border-bottom: none;
        border-left: none;
        border-right: none;
    }

    p {

        line-height: 23px;
    }

    #policy-authoring {
        padding: 0 0 50px;
    }

    #declarative-policy-tabs {
        padding-bottom: 0;
    }

    #about {
        padding: 70px 0 0;
    }

    .banner-content {
        padding-left: 15px;
        padding-right: 15px;
        line-height: 28px;
    }

    .site-title {
        font-size: 22px !important;
    }

    .policy-text p {
        width: 85%;

    }

    .about-text {
        width: 100%;
    }

    .nav-tabs .nav-link {
        padding: 13px 14px;
        font-size: 18px !important;
        line-height: 14px;
        border-radius: 5px !important;
    }

    .nav-tabs .nav-item {
        margin: 8px !important;
        display: inline-flex;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        font-size: 18px !important;
        line-height: 13px !important;
        border-radius: 5px !important;
    }

    .nav-tabs {
        margin-left: 20px;
    }

    .architectural-flexibility-graphic-left,
    .declarative-policy-tabs-graphic,
    .architectural-flexibility-graphic-right {
        display: none;
    }

    .nav-tabs .nav-item img {
        width: 14px;
        height: 14px;
        margin-right: 5px;
    }

    .nav-tabs .nav-width {
        width: 139px;
        max-width: 139px;
    }

    .tab-content {
        margin-top: 15px;
    }

    .background .banner-content {
        font-size: 29px;
        position: relative;
        z-index: 1;
    }

    .background .banner-subcontent {
        font-size: 18px;
        line-height: 24px;
        padding: 0 15px;
    }

    #navb {
        padding-top: 0;
        position: absolute;
        top: 65px;
        width: 100%;
        left: 0;
        background: #36d0dc;
        border: 1px solid rgba(255, 255, 255, 0.15);
    }

    .navbar-dark .navbar-nav .nav-item {
        padding: 10px 15px;
    }

    #about {
        margin-top: 0;
    }

    .blue a {
        font-size: 14px;
    }

    h2 {
        font-size: 30px;
    }

    h4 {
        font-size: 18px;
    }

    .policy-sharing h4 {
        position: relative;
        bottom: 20px;
        left: 0;
    }

    .declarativeImage {
        width: 40px;
    }

    .envoy img {
        width: 50px;
    }

    .declarativeText {
        font-size: 17px;
        line-height: 34px;
    }

    .declarativeInnerBOx {
        margin-top: 30px;
    }

    .banner-content {
        font-size: 31px !important;
    }

    .col-lg-2 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .nav-tabs {
        margin-left: 35px;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        padding: 15px 10px;
        font-size: 17px !important;
        line-height: 30px;
    }

    .nav-tabs .nav-link {
        padding: 15px 10px;
    }

    .nav-tabs .nav-link {
        font-size: 17px;
        line-height: 30px;
    }

    .nav-tabs .nav-width {
        width: 160px !important;
        max-width: 160px !important;
    }

    .nav-tabs .nav-item img {
        width: 30px;
        height: 30px;
    }

    .envoy img {
        width: 50px;
    }

    .declarativeText {
        font-size: 17px;
        line-height: 34px;
    }

    .code-tab-content {
        box-shadow: none;
        border: none;
        padding: 0;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 15px;
    }

    .tab-content {
        background-color: #fff;
    }

    .navbar .container {
        display: flex !important;
    }

    .navbar .navbar-toggler-container {
        display: flex;
        align-items: center;
    }

    #navigation .navbar .navbar-brand {
        width: 12rem;
        display: block;
    }

    .navbar .navbar-toggler {
        display: block;
    }

    #navigation #navb {
        margin-top: 1rem;
    }

    .social-icon-link {
        display: flex;
        align-items: center;
    }

    #navb .social-icon-title {
        display: inline-block;
        padding: 0 0 0 0.5rem;
    }

    .social-icon-link {
        padding: 0.5rem 1rem;
    }

    #navigation .social-icon-link img {
        display: inline-block;
        margin: 0;
    }

    .home #header {
        padding-top: 1rem;
    }

    .home #header .banner {
        margin-top: -4rem;
    }

    .home #header .banner-content {
        padding-top: 0;
        margin-top: 0;
    }

    .home #header .banner-subcontent {
        padding: 0 0.3rem;
        font-size: 1.2rem;
    }
}
