.card {
    border-radius: 20px;
    box-shadow: 2px 3px 6px rgba(51, 51, 51, 0.25);
    cursor: pointer;
}

.card-body {
}

.card-img {
    height: 4rem;
    width: auto;
}

.support-bg {
    width: 100%;
    height: 100%;
    background-color: #5687e5;
}

.support-content {
    height: 100%;
}

.support-card-content {
    height: 100%;
    overflow: hidden;
}

.card-text {
    padding: 10px
}

.support-list {
    margin-top: 20px;
    z-index: 99;
    position: relative;
}

.support-footer {
    z-index: 99;
    position: relative;
}

/* overrides for home.css */

#homebackground {
    width: 100%;
    height: 100%;
    margin-top: -65px;
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    background-color: #5687e5;
}

.bg img {
    width: 100%;
    object-fit: cover;
}

.cloud-top {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.cloud-top img {
    width: 100%;
    position: absolute;
    top: 140px;
    object-fit: cover;
}

@media screen and (min-width: 350px) and (max-width: 400px) {
    .bg img {
        margin-top: unset;
    }
}

@media screen and (min-width: 401px) and (max-width: 450px) {
    .bg img {
        margin-top: unset;
    }
}

@media screen and (min-width: 451px) and (max-width: 500px) {
    .bg img {
        margin-top: unset;
    }
}

@media screen and (max-width: 550px) and (min-width: 501px) {
    .bg img {
        margin-top: unset;
    }
}

@media screen and (max-width: 600px) and (min-width: 576px) {
    .bg img {
        margin-top: unset;
    }
}

@media screen and (max-width: 650px) and (min-width: 601px) {
    .bg img {
        margin-top: unset;
    }
}

@media screen and (max-width: 700px) and (min-width: 651px) {
    .bg img {
        margin-top: unset;
    }
}

@media screen and (max-width: 750px) and (min-width: 701px) {
    .bg img {
        margin-top: unset;
    }
}

@media screen and (max-width: 575px) and (min-width: 551px) {
    .bg img {
        margin-top: unset;
    }
}

@media screen and (max-width: 767px) {
    .bg img {
        display: unset;
    }

    .cloud-top img {
        display: none;
    }
}

@media screen and (max-width: 767px) and (min-width: 751px) {
    .bg img {
        margin-top: unset;
    }
}
