<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav-main.html %}

    <header class="opa-header">
      <div class="opa-content">
        <p class="opa-header--fork-me"><a href="https://github.com/open-policy-agent/opa">{% img '{{assets["github-corner-right.svg"].logical_path}}' alt:'Fork me on GitHub' %}</a></p>

        {% contentblock header %}
      </div>
    </header>

    <section class="opa-homepage--section--experience">
      <div class="opa-homepage--content">
        {% contentblock experience %}
      </div>
    </section>

    <section class="opa-homepage--section--benefits">
      <div class="opa-homepage--content">
        {% contentblock benefits %}
      </div>
    </section>

    <section class="opa-homepage--section--features">
      <div class="opa-homepage--content">
        {% contentblock features %}
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>
