body{
  font-family: "Roboto";
}

.book.font-family-1{
  font-family: "Roboto";
}

.header--menu-image{
  width: 2rem;

}

.header--logo-image{
  display: inline-block;
  width: 4rem;
  padding: 7px 7px;
}

.header--logo-txt{
  display: inline-block;
  padding: 7px 7px;
  line-height: 36px;

  font-family: "adobe-fan-heiti-std";
  color: #121212;

}

.header--logo-link{
  display: flex;
  align-items: center;
}

.header--link{
  display: inline-block;
  padding: 7px 7px;
  line-height: 36px;
}

.header--social-link{
  position: relative;
  top: 6px;
}

.header--logo{
  float: left;
}

.header--menu{
  float: right;
  display: flex;
  align-items: center;
}

._doc--header:after {
  content: "";
  display: table;
  clear: both;
}

._doc--header a {
  color: #777677;
}

._doc--header{
  border-bottom: 1px solid rgba(0,0,0,.07);
  padding: 0 6px;
}

._doc--menu-desktop {
  display: none;
}

._doc--menu-mobile{
  float: right;
}

._doc--hamburger-menu-container {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 100;
  top: 0;
  height: 100%;
  margin-top: 6rem;
}

.header--hamburger-menu-link {
  text-decoration: none;
  color: #776777;
  text-align: center;
  padding: 1rem;
}

.header--hamburger-menu-item {
  list-style-type: none;
}

  @media (min-width: 640px) {
    ._doc--hamburger-menu-container {
      display: none; } }

@media (min-width: 640px) {
  ._doc--menu-mobile {
    display: none;
  }

  ._doc--menu-desktop {
    float: right;
    display: block;
  }
}
