.heading-nav{
	margin-right: get('rhythm') / 4;
	margin-top: 0;

	@include breakpoint(get('heading nav inline breakpoint')){
		float: right;
	}

	@include breakpoint(768px){
		margin-right: 0;
	}

	&--li {
		display: block;
		margin-top: get('rhythm') / 2;

		@include breakpoint(get('heading nav inline breakpoint')){
			margin-top: 0rem;
			display: inline-block;
		}
	}

	&--item {
		color: #c7c7c7;
		text-decoration: none;
		cursor: pointer;
		display: inline-block;

		padding-left: 0.75em;
		border-left: 0.25em solid #404041;

		&:focus,
		&:hover {
			border-left: 0.25em solid #5596E6;
			color: #ffffff;
		}

		@include breakpoint(get('heading nav inline breakpoint')){

			margin-top: get('rhythm') / 2;
			padding-bottom: get('rhythm') / 2;
			padding-left: get('rhythm') / 4;
			padding-right: get('rhythm') / 4;

			border-left: 0;
			border-bottom: 0.25em solid #404041;

			&:focus,
			&:hover{
				border-left: 0;
				border-bottom: 0.25em solid #5596E6;
			}
		}
	}
}
