.wordmark{
	cursor: pointer;
	margin-top: get('rhythm') / 2;
	margin-left: get('rhythm') / 2;
	margin-bottom: get('rhythm') / 4;
	display: inline-block;
	font-size: 1.062em;
	text-decoration: none;

	&--left {
		color: #fdfdfd;
		font-weight: 300;
	}

	&--right {
		color: #ffffff;
		font-weight: 500;
	}

	@include breakpoint(get('heading nav inline breakpoint')) {
		margin-bottom: get('rhythm') / 2;
		float: left;
	}

	@include breakpoint(768px) {
		margin-left: 0;
	}
}
