.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: inherit;
  text-decoration: none;
  transition: background var(--ifm-transition-fast);
}

.iconButton:hover {
  background: var(--ifm-color-emphasis-200);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
