name: "Check Broken Links"

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
  - cron: "0 0 1 * *" # At 00:00 on day-of-month 1

permissions:
  contents: read

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    permissions:
      issues: write # required for peter-evans/create-issue-from-file
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Link Checker
      id: lychee
      uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
      # ignored domains are a source of false positives in
      # https://github.com/open-policy-agent/opa/issues/7888 for example
      with:
        args: >
          --max-concurrency 1
          --no-progress
          --exclude-path vendor
          --exclude-path internal
          --exclude-path CHANGELOG.md
          --scheme https
          --scheme http
          --exclude medium.com
          --exclude blog.openpolicyagent.org
          --exclude itnext.io
          --accept 200..=206,403,429
          --retry-wait-time 5
          --max-retries 1
          .
        fail: false

    - name: Show Report
      run: cat lychee/out.md

    - name: Create Issue From File
      if: steps.lychee.outputs.exit_code != 0
      uses: peter-evans/create-issue-from-file@fca9117c27cdc29c6c4db3b86c48e4115a786710 # v6.0.0
      with:
        title: "docs: Link Checker Report"
        content-filepath: ./lychee/out.md
        labels: report, automated issue
